
@{
    ViewBag.Title = "MyDictionaries";
}

<h2>MyDictionaries</h2>

<div ng-controller="MyDictionariesCtrl as vm">
    <button class="btn btn-primary" style="margin-bottom: 20px" ng-click="vm.createDictionary()">Create new dictionary</button>
    <div class="row">
        <div ng-repeat="dictionary in vm.myDictionaries" class="col-md-4">
            <h2>{{dictionary.name}}</h2>
            <p>Description: {{dictionary.description}}</p>
            <p>Languages. From {{dictionary.fronLanguage}} to {{dictionary.toLanguage}}</p>
            <p>Is public: {{dictionary.isPublic}}</p>
            <p>Created: {{dictionary.creationDate}}</p>
            <p>Last change: {{dictionary.lastChangeDate}}</p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Review &raquo;</a>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Edit &raquo;</a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>


