
@{
    ViewBag.Title = Lexicon.MyDictionaries;
}

<div ng-controller="MyDictionariesCtrl as vm">
    <extra-bootstrap-navbar>
        <li><a ng-click="vm.createDictionary()">@Lexicon.CreateNewDictionary</a></li>
    </extra-bootstrap-navbar>

    <async-page-with-loader is-loaded="vm.loaded">
        <div class="row">
            <div ng-repeat="dictionary in vm.myDictionaries">
                <dictionary-item ng-model="dictionary"
                                 edit-dictionary-function="vm.editDictionary"
                                 remove-dictionary-function="vm.removeDictionary"
                                 enable-editing="true">
                </dictionary-item>
            </div>
        </div>
    </async-page-with-loader>
</div>


