
@{
    ViewBag.Title = "My Dictionaries";
}

<h2>MyDictionaries</h2>

<div ng-controller="MyDictionariesCtrl as vm">
    <button class="btn btn-primary" style="margin-bottom: 20px" ng-click="vm.createDictionary()">Create new dictionary</button>
    <div class="row">
        <div ng-repeat="dictionary in vm.myDictionaries" class="col-md-4">
            <h2>{{dictionary.name}}</h2>
            <p>Description: {{dictionary.description}}</p>
            <p>Languages. From {{dictionary.fromLanguage}} to {{dictionary.toLanguage}}</p>
            <p>Is public: {{dictionary.isPublic}}</p>
            <p>Created: {{dictionary.creationDate | date : 'dd.MM.yyyy HH:mm'}}</p>
            <p>Last change: {{dictionary.lastChangeDate | date : 'dd.MM.yyyy HH:mm'}}</p>
            <a class="btn btn-default" href="/Dictionaries/Dictionary/{{dictionary.id}}">Review &raquo;</a>
            <button class="btn btn-default" ng-click="vm.editDictionary(dictionary)">Edit &raquo;</button>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>


