
@{
    ViewBag.Title = Lexicon.MyDictionaries;
}

<h2>@Lexicon.MyDictionaries</h2>

<div ng-controller="MyDictionariesCtrl as vm">
    <button class="btn btn-primary" style="margin-bottom: 20px" ng-click="vm.createDictionary()">@Lexicon.CreateNewDictionary</button>
    <async-page-with-loader is-loaded="vm.loaded">
        <div class="row">
            <div ng-repeat="dictionary in vm.myDictionaries">
                <dictionary-item ng-model="dictionary"
                                 edit-dictionary-function="vm.editDictionary"
                                 remove-dictionary-function="vm.removeDictionary"
                                 enable-editing="true">
                </dictionary-item>
            </div>
        </div>
    </async-page-with-loader>
</div>


