@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Online Dictionary</h1>
<div class="row">
    <div class="col-md-6">
        <img src="https://media.giphy.com/media/l2Je66zG6mAAZxgqI/giphy.gif" style="margin: 30px" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Find translate to phrase</h3>
            @Html.ActionLink(Lexicon.Review, "Translate", "Phrases", routeValues: null, htmlAttributes: new { @class = "btn btn-default", title = Lexicon.Translate })
        </div>
        <div class="row">
            <h3>Download users' dictionaries</h3>
            @Html.ActionLink(Lexicon.Review, "AllDictionaries", "Dictionaries", routeValues: null, htmlAttributes: new { @class = "btn btn-default", title = Lexicon.AllDictionaries })
        </div>
        <div class="row">
            <h3>Create your dictionary</h3>
            @Html.ActionLink(Lexicon.Review, "MyDictionaries", "Dictionaries", routeValues: null, htmlAttributes: new { @class = "btn btn-default", title = Lexicon.MyDictionaries })
        </div>
    </div>
</div>
