<div class="col-md-4">
    <h2>{{dictionary.name}}</h2>
    <p>{{'description' | translate}}: {{dictionary.description != null ? dictionary.description : 'noDescription' | translate}}</p>
    <p>{{'languages' | translate}}: {{dictionary.sourceLanguage}} — {{dictionary.targetLanguage}}</p>
    <p>{{'isPublic' | translate}}: {{dictionary.isPublic ? ('yes' | translate) : ('no' | translate)}}</p>
    <p>{{'creationDate' | translate}}: {{dictionary.creationDate | date : "dd.MM.yyyy HH:mm"}}</p>
    <p>{{'lastChangedDate' | translate}}: {{dictionary.lastChangeDate | date : "dd.MM.yyyy HH:mm"}}</p>
    <a class="btn btn-default" ng-href="/Dictionaries/Dictionary/{{dictionary.id}}">{{'review' | translate}}</a>
    <button class="btn btn-default" ng-click="editDictionary(dictionary)">{{'edit' | translate}}</button>
    <button class="btn btn-danger" ng-click="removeDictionary(dictionary.id)">{{'remove' | translate}}</button>
</div>