<div class="col-md-4">
    <h2>{{dictionary.name}}</h2>
    <p>{{'Description' | translate}}: {{dictionary.description != null ? dictionary.description : 'NoDescription' | translate}}</p>
    <p>@Lexicon.Languages: {{dictionary.sourceLanguage}} — {{dictionary.targetLanguage}}</p>
    <p>@Lexicon.IsPublic: {{dictionary.isPublic ? '@Lexicon.Yes' : '@Lexicon.No'}}</p>
    <p>@Lexicon.CreationDate: {{dictionary.creationDate | date : "dd.MM.yyyy HH:mm"}}</p>
    <p>@Lexicon.LastChangedDate: {{dictionary.lastChangeDate | date : "dd.MM.yyyy HH:mm"}}</p>
    <a class="btn btn-default" ng-href="/Dictionaries/Dictionary/{{dictionary.id}}">@Lexicon.Review</a>
    <button class="btn btn-default" ng-click="editDictionary(dictionary)">@Lexicon.Edit</button>
    <button class="btn btn-danger" ng-click="removeDictionary(dictionary.id)">@Lexicon.Remove</button>
</div>