<table class="table table-striped table-bordered table-hover" style="text-align:center">
    <thead>
        <tr>
            <th style="text-align: center">#</th>
            <th style="text-align: center">Sorce language</th>
            <th style="text-align: center">Target language</th>
            <th ng-if="enableEditing"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="enableEditing">
            <td></td>
            <td><input class="form-control" type="text" ng-model="phrasesPair.firstPhrase.text" placeholder="{{dictionary.sourceLanguage}}" /></td>
            <td><input class="form-control" type="text" ng-model="phrasesPair.secondPhrase.text" placeholder="{{dictionary.targetLanguage}}" /></td>
            <td class="col-md-2">
                <button class="btn btn-primary" ng-click="createPhrasesPair(phrasesPair)">Save</button>
            </td>
        </tr>
        <tr ng-repeat="phrasesPair in dictionary.phrasesPairs">
            <td>{{$index + 1}}</td>
            <td>{{phrasesPair.firstPhrase.text}}</td>
            <td>{{phrasesPair.secondPhrase.text}}</td>
            <td ng-if="enableEditing" class="col-md-2">
                <button class="btn btn-primary" ng-click="editPhrasesPair()">Edit</button>
                <button class="btn btn-primary" ng-click="removePhrasesPair(phrasesPair.id)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
