body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

.table-with-centered-content td, th {
    text-align: center;
    vertical-align: central;
}

.table-with-centered-content input {
    max-width: 100%;
    text-align: center;
}

.modal-window{
    padding: 15px;
}

.modal-window-custom-footer{
    text-align: right;
}

.checkbox{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
    border: 1px red solid;
}
